body{
	background-image: url('img/gbr1.jpg');
	height: 80px;
	width: 80%;
}

div.about1{
	padding: 10px;
	text-align: center;
}
div.about2{
	margin: 20px;
	font-family:courier; 
	font-size: 125%; 
	float: right;
}