body{
	background-color: Gray;
	width: 95%;
	height: 580px;
	padding: 30px;
	margin: 0;
}
h1{
	padding: 0 20px 50px 0;
	text-align: center;
}
h5{
	font-family: verdana; 
	font-size: 100%;
	padding: 3px;
	text-align: center;
}
div.edukasi{
	background-image: url('img/gbr1.jpg');
	padding: 0 15px 30px 2px;
	height: 490px;
	width: 45%;
	float : left;
}
div.edks{
	height: 515px;
	width: 45%;
	background-color: pink;
	float: right;
}
div.atas{
	height: 171px;
	width: 585px;
	padding: 0;
	background-color: violet;
}
div.tengah{
	height: 172px;
	width: 585px;
	padding: 0;
	background-color: black;
}
div.bawah{
	height: 172px;
	width: 585px;
	padding: 0;
	background-color: violet;
}