body{
		padding: 0;
		margin: 0;
	}
div.hireme{
	height: 560px;
	width: 100%;
	background-color: Lightgrey;
}
div.kontak{
	height: 150px;
	width: 100%;
	background-color: blue;
}
div.tmp{
	height: 350px;
	width: 100%;
	background-color: Lightgrey;
}
h3{
	padding: 5px;
	margin: 2px;
	text-align: center;
	font-family: verdana;
	font-size: 100%;
}
div.temptext{
	background-color: yellow;
	color: black;
	float: right;
	height: 250px;
	width: 100%;
}
div.akun{
	background-color: Lightgrey;
	color: black;
	float: left; 
	height: 250px;
	width: 50%;
}
div.pesan{
	background-color: Lightgrey;
	color: black;
	float: left;  
	height: 250px;
	width: 679px;
}
div.kirim{
	background-color: green;
	color: purple;
	height: 100px;
	width: 95%;
	margin: 3px;
	padding: 30px;
	text-align: center;
}
.size{
	width: 100%;
	height: 50px;
	border: 1px solid gray;
}
.size1{
	width: 100%;
	height: 235px;
	border: 1px solid gray;
}