body{
	padding: 0;
	margin: 0;
}
div.tampung{
	background-color: white;
	height: 600px;
	width: 100%;
}
div.top{
	background-color: violet;
	height: 130px;
	width: 100%;
}
div.portfolio{
	height: 429px;
	background-color: black;
	padding: 30px 50px 15px 60px;
}
div.ptf{
	height: 410px;
	width: 100%;
	background-color: black;
}
div.bottom{
	background-color: violet;
	height: 55px;
	width: 100%;
}
p{
	margin: 0;
	padding: 10px;
	font-family: verdana;
	text-align: center;
}
h2{
	margin: 0;
	padding-top: 10px;
	padding-right: 30px;
	font-family: verdana;
	text-align: right;
}