body{
	background-color: gray;
	height: 600px;
	width: 100%;
	margin: 0;
	padding: 0;
}
div.resume{
	height: 570px;
	width: 50%;
	float: left;
	background-color: black;
}
div.resume1{
	font-family: Impact;
	font-size: 150%;
	color: rgb(253, 3, 163);
	padding: 40px;
}
div.download1{
	height: 20px;
	width: 50%;
	outline-style: groove;
	font-family: verdana;
	font-size: 45%;
	text-align: center;
	color: black;
	padding: 3px;
}
div.resume2{
	height: 570px;
	width: 50%;
	float: right;
	background-color: white;
}
p{
	color: gray;
	text-align: center;
	padding: 0;
	margin: 50px;
	font-size: 200%;
	font-family: verdana;
}