html, body{
	margin: 0;
	padding: 0;
}
h2{
	margin: 1px;
	padding: 2px;
	text-align: center;
}
h1, p{
	margin: 0;
	padding: 8px;
}
div.gbr1{
	padding: 2px 2px 2px 15px;
}
div.badan{
	background-color: red;
	width: 100%;
}
div.Left{
	background-color: black;
	color: white;
	float: left;
	height: 659px;
	width: 35%;
}
div.Top{
	background-color: LightPink;
	color: black;
	float: right;
	height: 580px;
	width: 65%;
	padding-bottom: 1px;
	border-radius: 15px 50px;
}
div.atas{
	height: 300px;
	width: 100%;
	background-color: white;
}
div.kiri{
	height: 300px;
	width: 295px;
	background-color: white;
	float: left;
	text-align: center;
}
div.tengah{
	height: 300px;
	width: 296px;
	background-color: white;
	float: left;
	text-align: center;
}
div.kanan{
	height: 300px;
	width: 100px;
	float: left;
	background-color: white;
}
div.bawah{
	height: 300px;
	width: 100%;
	background-color: white;
}
div.bawahkr{
	height: 300px;
	width: 438px;
	background-color: white;
	float: left;
	text-align: center;
}
div.bawahknn{
	height: 300px;
	width: 438px;
	background-color: white;
	float: left;
	text-align: center;
}
div.Bottom{
	background-color: Gray;
	color: black;
	float: right;
	height: 77px;
	width: 65%;
	padding-top: 1px;
	text-align: center;
}